* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-colour: #e0afa8;
  --second-bg-colour: #edbfb8;
  --text-colour: #312b2b;
  --main-font: "Melodrama", serif;
  --bg-image: url(bg.png);
  --player-name-input-colour: white;
  --player-name-input-shadow: 0px 0px 3px #786060b1;
  --start-btn-bg: #e0afa8;
  --start-btn-bg-hover: #ce9a91;
  --player-name-input-text: #121212;
}

/* All of the dark mode colours as of right now! */
.dark-mode {
  --bg-colour: #121212;
  --second-bg-colour: #1b1919;
  --text-colour: #e0afa8;
  --bg-image: url(dark-bg.png);
  --player-name-input-colour: #262321;
  --player-name-input-shadow: 0px 0px 3px #ebbfbfb1;
  --start-btn-bg: #e0afa8;
  --start-btn-bg-hover: #c98e83;
  --player-name-input-text: white;
}

body {
  background-color: var(--bg-colour);
  background-image: var(--bg-image);
  background-repeat: repeat;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  color: var(--text-colour);
  font-size: clamp(16px, 3vw, 19px);
  position: relative;
}

#modesToggle {
  position: absolute;
  width: 60px;
  font-size: 2.5rem;
  padding: 4px;
  border: 1px solid white;
  background-color: var(--second-bg-colour);
  color: var(--text-colour);
  top: 20px;
  left: 20px;
  cursor: pointer;
}

h1 {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 6rem;
  text-align: center;
}

/* -- Start Screen -- */
.MainSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg-colour);
  border: 1px solid white;
  box-shadow: 5px 5px 5px #451e1e37;
  padding: 30px;
}

.MainSection p {
  text-align: center;
}

.MainSection label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#playerNameInput {
  padding: 5px 15px;
  border: 1px solid #918080b1;
  text-align: center;
  font-family: inherit;
  font-size: inherit;
  color: var(--player-name-input-text);
  background-color: var(--player-name-input-colour);
}

#playerNameInput:focus,
#playerNameInput:hover {
  outline: none;
  border: 1px solid #91808000;
  box-shadow: var(--player-name-input-shadow);
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #918080b1;
  cursor: pointer;
  background-color: var(--start-btn-bg);
  outline: none;
  transition: 400ms;
  color: initial;
}

.btn:hover {
  background-color: var(--start-btn-bg-hover);
}

/* QUIZ STYLE*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bg-colour);
  border: 1px solid white;
  box-shadow: 5px 5px 5px #451e1e37;
  padding: 30px;
  width: 50%;
  max-width: 50%;
}

#game {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#question {
  font-size: 2.2rem;
  text-align: center;
}

#stats {
  display: flex;
  justify-content: space-between;
}

.stats-item {
    display: flex;
    gap: 5px;
}

.stats-prefix, .stats-item {
  text-align: center;
  font-size: 2rem;
  color: var(--player-name-input-text);
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;    
}

.choice-container {
  display: flex;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid var(--bg-colour);
  background-color: var(--player-name-input-text);
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 var(--bg-colour);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  border: var(--player-name-input-text) 1px solid;
  background-color: var(--bg-colour);
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: var(--bg-colour);
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.endPageTitle {
  font-size: 1rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-bottom: 15px;
}


@media (320px <= width <= 480px){

  .container{
    width: 60%;
    max-width: 60%;
  }

  .stats-prefix, 
  .stats-main-text, 
  #question, 
  .choice-prefix, 
  .choice-text{
    font-size: clamp(12px, 2vw, 19px);
  }

  .choice-prefix{
    padding: 1.5rem 4vw; 
  }
 
}


@media (481px <= width <= 768px){

  .container{
    width: 60%;
    max-width: 60%;
  }

  .stats-prefix, 
  .stats-main-text, 
  #question, 
  .choice-prefix, 
  .choice-text{
    font-size: clamp(12px, 2vw, 19px);
  }

  .choice-prefix{
    padding: 1.5rem 4vw;
  }
 
}

@media (769px <= width ){
  .container{
    width: 50%;
    max-width: 50%;
  }

  .stats-prefix, 
  .stats-main-text, 
  #question, 
  .choice-prefix, 
  .choice-text{
    font-size: clamp(12px, 2vw, 24px);
  }

 
}
