:root {
	--bg-colour: #e0afa8;
	--second-bg-colour: #edbfb8;
	--text-colour: #312b2b;
	--main-font: "Melodrama", serif;
	--bg-image: url(bg-images/bg.png);
	--player-name-input-colour: white;
	--player-name-input-shadow: 0px 0px 3px #786060b1;
	--start-btn-bg: #e0afa8;
	--start-btn-bg-hover: #ce9a91;
	--player-name-input-text: #121212;
}

/* All of the dark mode colours as of right now! */
.dark-mode {
	--bg-colour: #121212;
	--second-bg-colour: #1b1919;
	--text-colour: #e0afa8;
	--bg-image: url(bg-images/dark-bg.png);
	--player-name-input-colour: #262321;
	--player-name-input-shadow: 0px 0px 3px #ebbfbfb1;
	--start-btn-bg: #e0afa8;
	--start-btn-bg-hover: #c98e83;
	--player-name-input-text: white;
}
